[submodule "map_based_localization"]
	path = map_based_localization
	url = git@github.com:eliyaskidnae/map_based_localization.git
[submodule "FAST_LIO"]
	path = FAST_LIO
	url = git@github.com:eliyaskidnae/FAST_LIO.git
[submodule "SFA3D"]
	path = SFA3D
	url = git@github.com:eliyaskidnae/SFA3D.git
[submodule "localization"]
	path = localization
	url = git@github.com:eliyaskidnae/localization.git
